.img_principal{
    width: 70%;

}

main p{
    margin: 20px auto;
    max-width: 600px;
    padding: 0 20px;
}

@media(max-Width: 768px){

    main p{
        font-size: 14px;
    }
}