.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.video {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    width: 100%;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.paragrafo__texto__legenda {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.barra-footer {
    background-color: #1d3d7d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px 5px;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
}

.redes-sociais {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    justify-content: center;

}


.rede-sociais span {
    font-size: 14px;

}

nav ul {
    gap: 20px;
    display: flex;
}

ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    padding-bottom: 10px;
    width: 100%;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: #1f36b6;
}

header img {
    width: 100px;
    height: 50px
}

.logo-footer {
    height: 40px;
    ;
}

.barra-footer img {
    height: 50px;
}

.main_image {
    width: 70%;
}

.copy {
    margin-bottom: 10px;
    font-size: 18px;
}



footer {
    height: 100%;
    width: 100%;
}

.flexRow {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.card img {
    width: 100%;
    height: auto;
}

.box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card input {

    height: 20px;
    width: 200px;
}

.card p {
    display: inline-block;
}

.box-button button {
    box-sizing: border-box;
    padding: 15px 30px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;

}

.submit-button {
    background-color: blue;
    color: white;
    border-radius: 8px;
    width: 60%;
    background-color: blue;
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: all 0, 5s ease;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.button-sub {
    display: flex;
    justify-content: flex-end;
}

/* @media (max-width: 750px) {
    .logo-footer {
        display: none;
    }

    .redes-sociais {
        display: none;
    }

    .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
} */

@media (max-width: 750px) {
    .barra-footer {
        flex-direction: column !important;
    }
}


.cardname {
    color: blue;
}

.Texto-Promocional {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Texto-Promocional p {
    font-size: 20px;
    font-weight: 500;

}

.pag-contato {
    max-height: 700px;
    display: flex;
    flex-direction: column;
}

.Fomulario {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 5rem;


}


.form-img {
    max-height: 400px;
}

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 1rem;
}

#texto-area {
    font-family: 'Poppins', sans-serif;
}

.form-contato input {
    height: 2rem;
    width: 280px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.315);
}



.tit-formulario {
    position: relative;
    top: 1rem;
}

input,
button,
select,
option,
form {
    border-radius: 5px;
}

select {
    height: 2rem;
    width: 280px;
    border-radius: 10px;
}

.title-formulario {
    margin: 20px 0px 0px;
}

@media (max-width: 750px) {
    .img-form {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (max-width: 750px) {
    .button-sub {
        justify-content: center !important;
        margin-bottom: 16px;
    }
}

@media (max-width: 750px) {
    .logo-footer {
        width: 100px;
    }
}

@media (max-width: 750px) {
    .div-logo-footer {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .copy-footer {
        display: flex;
        justify-content: center;
    }
}